
<div *ngIf="candidate_true_skill">
    <h2><span>Candidate True Skill</span> {{candidate_true_skill.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Candidateskillid</span></dt>
        <dd>
            <span>{{candidate_true_skill.candidateskillid}}</span>
        </dd>
        <dt><span>Level</span></dt>
        <dd>
            <span>{{candidate_true_skill.level}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{candidate_true_skill.comment}}</span>
        </dd>
        <dt><span>Id Profil</span></dt>
        <dd>
            <div *ngIf="candidate_true_skill.idProfil">
                <a [routerLink]="['/profil', candidate_true_skill.idProfil?.id]">{{candidate_true_skill.idProfil?.id}}</a>
            </div>
        </dd>
        <dt><span>Id Skill</span></dt>
        <dd>
            <div *ngIf="candidate_true_skill.idSkill">
                <a [routerLink]="['/skill', candidate_true_skill.idSkill?.id]">{{candidate_true_skill.idSkill?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'candidate-true-skill/'+ candidate_true_skill.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
