<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCandidate_true_skillLabel">Create or edit a Candidate True Skill</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!candidate_true_skill.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="candidate_true_skill.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_candidateskillid">Candidateskillid</label>
            <input type="number" class="form-control" name="candidateskillid" id="field_candidateskillid"
                [(ngModel)]="candidate_true_skill.candidateskillid" required/>
            <div [hidden]="!(editForm.controls.candidateskillid?.dirty && editForm.controls.candidateskillid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.candidateskillid?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.candidateskillid?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_level">Level</label>
            <input type="number" class="form-control" name="level" id="field_level"
                [(ngModel)]="candidate_true_skill.level" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="candidate_true_skill.comment" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_idProfil">Id Profil</label>
            <select class="form-control" id="field_idProfil" name="idProfil" [(ngModel)]="candidate_true_skill.idProfil">
                <option [ngValue]="null"></option>
                <option [ngValue]="profilOption.id === candidate_true_skill.idProfil?.id ? candidate_true_skill.idProfil : profilOption" *ngFor="let profilOption of idprofils; trackBy: trackProfilById">{{profilOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_idSkill">Id Skill</label>
            <select class="form-control" id="field_idSkill" name="idSkill" [(ngModel)]="candidate_true_skill.idSkill">
                <option [ngValue]="null"></option>
                <option [ngValue]="skillOption.id === candidate_true_skill.idSkill?.id ? candidate_true_skill.idSkill : skillOption" *ngFor="let skillOption of idskills; trackBy: trackSkillById">{{skillOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
