<div>
    <h2>
        <span>Candidate Skills</span>
        <button class="btn btn-primary float-right jh-create-entity create-candidate-skill" [routerLink]="['/', { outlets: { popup: ['candidate-skill-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Candidate Skill
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="candidate_skills">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Level</span></th>
            <th><span>Comment</span></th>
            <th><span>Id Profil</span></th>
            <th><span>Id Skill</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidate_skill of candidate_skills ;trackBy: trackId">
                <td><a [routerLink]="['../candidate-skill', candidate_skill.id ]">{{candidate_skill.id}}</a></td>
                <td>{{candidate_skill.level}}</td>
                <td>{{candidate_skill.comment}}</td>
                <td>
                    <div *ngIf="candidate_skill.idProfil">
                        <a [routerLink]="['../profil', candidate_skill.idProfil?.id ]" >{{candidate_skill.idProfil?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="candidate_skill.idSkill">
                        <a [routerLink]="['../skill', candidate_skill.idSkill?.id ]" >{{candidate_skill.idSkill?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../candidate-skill', candidate_skill.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'candidate-skill/'+ candidate_skill.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'candidate-skill/'+ candidate_skill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
