<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySkillQuestionLabel">Create or edit a Skill Question</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!skillQuestion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="skillQuestion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_questionSkillQuestion">Question Skill Question</label>
            <input type="text" class="form-control" name="questionSkillQuestion" id="field_questionSkillQuestion"
                [(ngModel)]="skillQuestion.questionSkillQuestion" required/>
            <div [hidden]="!(editForm.controls.questionSkillQuestion?.dirty && editForm.controls.questionSkillQuestion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.questionSkillQuestion?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_responseSkillQuestion">Response Skill Question</label>
            <input type="text" class="form-control" name="responseSkillQuestion" id="field_responseSkillQuestion"
                [(ngModel)]="skillQuestion.responseSkillQuestion" required/>
            <div [hidden]="!(editForm.controls.responseSkillQuestion?.dirty && editForm.controls.responseSkillQuestion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.responseSkillQuestion?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_question">Question</label>
            <select class="form-control" id="field_question" name="question" [(ngModel)]="skillQuestion.question" required>
                <option *ngIf="!editForm.value.question" [ngValue]="null" selected></option>
                <option [ngValue]="skillTestOption.id === skillQuestion.question?.id ? skillQuestion.question : skillTestOption" *ngFor="let skillTestOption of questions; trackBy: trackSkillTestById">{{skillTestOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.question?.dirty && editForm.controls.question?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.question?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_skill">Skill</label>
            <select class="form-control" id="field_skill" name="skill" [(ngModel)]="skillQuestion.skill" required>
                <option *ngIf="!editForm.value.skill" [ngValue]="null" selected></option>
                <option [ngValue]="skillOption.id === skillQuestion.skill?.id ? skillQuestion.skill : skillOption" *ngFor="let skillOption of skills; trackBy: trackSkillById">{{skillOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.skill?.dirty && editForm.controls.skill?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.skill?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
