
<div *ngIf="etude_Profil">
    <h2><span>Etude Profil</span> {{etude_Profil.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Annee Etude Debut</span></dt>
        <dd>
            <span>{{etude_Profil.anneeEtudeDebut | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Anne Etude Fin</span></dt>
        <dd>
            <span>{{etude_Profil.anneEtudeFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{etude_Profil.comment}}</span>
        </dd>
        <dt><span>Id Profil</span></dt>
        <dd>
            <div *ngIf="etude_Profil.idProfil">
                <a [routerLink]="['/profil', etude_Profil.idProfil?.id]">{{etude_Profil.idProfil?.id}}</a>
            </div>
        </dd>
        <dt><span>Id Etude</span></dt>
        <dd>
            <div *ngIf="etude_Profil.idEtude">
                <a [routerLink]="['/etude', etude_Profil.idEtude?.id]">{{etude_Profil.idEtude?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'etude-profil/'+ etude_Profil.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
