<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEtude_ProfilLabel">Create or edit a Etude Profil</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!etude_Profil.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="etude_Profil.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_anneeEtudeDebut">Annee Etude Debut</label>
            <div class="input-group">
                <input id="field_anneeEtudeDebut" type="text" class="form-control" name="anneeEtudeDebut" ngbDatepicker  #anneeEtudeDebutDp="ngbDatepicker" [(ngModel)]="etude_Profil.anneeEtudeDebut"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="anneeEtudeDebutDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_anneEtudeFin">Anne Etude Fin</label>
            <div class="input-group">
                <input id="field_anneEtudeFin" type="text" class="form-control" name="anneEtudeFin" ngbDatepicker  #anneEtudeFinDp="ngbDatepicker" [(ngModel)]="etude_Profil.anneEtudeFin"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="anneEtudeFinDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="etude_Profil.comment" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_idProfil">Id Profil</label>
            <select class="form-control" id="field_idProfil" name="idProfil" [(ngModel)]="etude_Profil.idProfil">
                <option [ngValue]="null"></option>
                <option [ngValue]="profilOption.id === etude_Profil.idProfil?.id ? etude_Profil.idProfil : profilOption" *ngFor="let profilOption of idprofils; trackBy: trackProfilById">{{profilOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_idEtude">Id Etude</label>
            <select class="form-control" id="field_idEtude" name="idEtude" [(ngModel)]="etude_Profil.idEtude">
                <option [ngValue]="null"></option>
                <option [ngValue]="etudeOption.id === etude_Profil.idEtude?.id ? etude_Profil.idEtude : etudeOption" *ngFor="let etudeOption of idetudes; trackBy: trackEtudeById">{{etudeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
