<div>
    <h2>
        <span>Job Responses</span>
        <button class="btn btn-primary float-right jh-create-entity create-job-response" [routerLink]="['/', { outlets: { popup: ['job-response-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Job Response
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobResponses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date Response</span></th>
            <th><span>Comment</span></th>
            <th><span>Candidat</span></th>
            <th><span>Job Offer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobResponse of jobResponses ;trackBy: trackId">
                <td><a [routerLink]="['../job-response', jobResponse.id ]">{{jobResponse.id}}</a></td>
                <td>{{jobResponse.dateResponse | date:'mediumDate'}}</td>
                <td>{{jobResponse.comment}}</td>
                <td>
                    <div *ngIf="jobResponse.candidat">
                        <a [routerLink]="['../candidat', jobResponse.candidat?.id ]" >{{jobResponse.candidat?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobResponse.jobOffer">
                        <a [routerLink]="['../job-offer', jobResponse.jobOffer?.id ]" >{{jobResponse.jobOffer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../job-response', jobResponse.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-response/'+ jobResponse.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-response/'+ jobResponse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
