<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJobResponseLabel">Create or edit a Job Response</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jobResponse.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jobResponse.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateResponse">Date Response</label>
            <div class="input-group">
                <input id="field_dateResponse" type="text" class="form-control" name="dateResponse" ngbDatepicker  #dateResponseDp="ngbDatepicker" [(ngModel)]="jobResponse.dateResponse"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateResponseDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateResponse?.dirty && editForm.controls.dateResponse?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateResponse?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="jobResponse.comment" required/>
            <div [hidden]="!(editForm.controls.comment?.dirty && editForm.controls.comment?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.comment?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_candidat">Candidat</label>
            <select class="form-control" id="field_candidat" name="candidat" [(ngModel)]="jobResponse.candidat" required>
                <option *ngIf="!editForm.value.candidat" [ngValue]="null" selected></option>
                <option [ngValue]="candidatOption.id === jobResponse.candidat?.id ? jobResponse.candidat : candidatOption" *ngFor="let candidatOption of candidats; trackBy: trackCandidatById">{{candidatOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.candidat?.dirty && editForm.controls.candidat?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.candidat?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_jobOffer">Job Offer</label>
            <select class="form-control" id="field_jobOffer" name="jobOffer" [(ngModel)]="jobResponse.jobOffer" required>
                <option *ngIf="!editForm.value.jobOffer" [ngValue]="null" selected></option>
                <option [ngValue]="jobOfferOption.id === jobResponse.jobOffer?.id ? jobResponse.jobOffer : jobOfferOption" *ngFor="let jobOfferOption of joboffers; trackBy: trackJobOfferById">{{jobOfferOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.jobOffer?.dirty && editForm.controls.jobOffer?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.jobOffer?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
