<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompanyLabel">Create or edit a Company</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!company.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="company.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_companyName">Company Name</label>
            <input type="text" class="form-control" name="companyName" id="field_companyName"
                [(ngModel)]="company.companyName" required/>
            <div [hidden]="!(editForm.controls.companyName?.dirty && editForm.controls.companyName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_telephoneEntreprise">Telephone Entreprise</label>
            <input type="text" class="form-control" name="telephoneEntreprise" id="field_telephoneEntreprise"
                [(ngModel)]="company.telephoneEntreprise" required/>
            <div [hidden]="!(editForm.controls.telephoneEntreprise?.dirty && editForm.controls.telephoneEntreprise?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telephoneEntreprise?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_place">Place</label>
            <input type="text" class="form-control" name="place" id="field_place"
                [(ngModel)]="company.place" required/>
            <div [hidden]="!(editForm.controls.place?.dirty && editForm.controls.place?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.place?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_siren">Siren</label>
            <input type="number" class="form-control" name="siren" id="field_siren"
                [(ngModel)]="company.siren" required/>
            <div [hidden]="!(editForm.controls.siren?.dirty && editForm.controls.siren?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.siren?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.siren?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_logo">Logo</label>
            <input type="text" class="form-control" name="logo" id="field_logo"
                [(ngModel)]="company.logo" required/>
            <div [hidden]="!(editForm.controls.logo?.dirty && editForm.controls.logo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.logo?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
