<div>
    <h2>
        <span>Experience Profils</span>
        <button class="btn btn-primary float-right jh-create-entity create-experience-profil" [routerLink]="['/', { outlets: { popup: ['experience-profil-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Experience Profil
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="experience_Profils">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Anne Experience Debut</span></th>
            <th><span>Anne Experience Fin</span></th>
            <th><span>Comment</span></th>
            <th><span>Id Profil</span></th>
            <th><span>Id Experience</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let experience_Profil of experience_Profils ;trackBy: trackId">
                <td><a [routerLink]="['../experience-profil', experience_Profil.id ]">{{experience_Profil.id}}</a></td>
                <td>{{experience_Profil.anneExperienceDebut | date:'mediumDate'}}</td>
                <td>{{experience_Profil.anneExperienceFin | date:'mediumDate'}}</td>
                <td>{{experience_Profil.comment}}</td>
                <td>
                    <div *ngIf="experience_Profil.idProfil">
                        <a [routerLink]="['../profil', experience_Profil.idProfil?.id ]" >{{experience_Profil.idProfil?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="experience_Profil.idExperience">
                        <a [routerLink]="['../experience', experience_Profil.idExperience?.id ]" >{{experience_Profil.idExperience?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../experience-profil', experience_Profil.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'experience-profil/'+ experience_Profil.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'experience-profil/'+ experience_Profil.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
