<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExperience_ProfilLabel">Create or edit a Experience Profil</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!experience_Profil.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="experience_Profil.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_anneExperienceDebut">Anne Experience Debut</label>
            <div class="input-group">
                <input id="field_anneExperienceDebut" type="text" class="form-control" name="anneExperienceDebut" ngbDatepicker  #anneExperienceDebutDp="ngbDatepicker" [(ngModel)]="experience_Profil.anneExperienceDebut"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="anneExperienceDebutDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.anneExperienceDebut?.dirty && editForm.controls.anneExperienceDebut?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.anneExperienceDebut?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_anneExperienceFin">Anne Experience Fin</label>
            <div class="input-group">
                <input id="field_anneExperienceFin" type="text" class="form-control" name="anneExperienceFin" ngbDatepicker  #anneExperienceFinDp="ngbDatepicker" [(ngModel)]="experience_Profil.anneExperienceFin"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="anneExperienceFinDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.anneExperienceFin?.dirty && editForm.controls.anneExperienceFin?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.anneExperienceFin?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="experience_Profil.comment" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_idProfil">Id Profil</label>
            <select class="form-control" id="field_idProfil" name="idProfil" [(ngModel)]="experience_Profil.idProfil">
                <option [ngValue]="null"></option>
                <option [ngValue]="profilOption.id === experience_Profil.idProfil?.id ? experience_Profil.idProfil : profilOption" *ngFor="let profilOption of idprofils; trackBy: trackProfilById">{{profilOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_idExperience">Id Experience</label>
            <select class="form-control" id="field_idExperience" name="idExperience" [(ngModel)]="experience_Profil.idExperience">
                <option [ngValue]="null"></option>
                <option [ngValue]="experienceOption.id === experience_Profil.idExperience?.id ? experience_Profil.idExperience : experienceOption" *ngFor="let experienceOption of idexperiences; trackBy: trackExperienceById">{{experienceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
