
<div *ngIf="experience_Profil">
    <h2><span>Experience Profil</span> {{experience_Profil.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Anne Experience Debut</span></dt>
        <dd>
            <span>{{experience_Profil.anneExperienceDebut | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Anne Experience Fin</span></dt>
        <dd>
            <span>{{experience_Profil.anneExperienceFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{experience_Profil.comment}}</span>
        </dd>
        <dt><span>Id Profil</span></dt>
        <dd>
            <div *ngIf="experience_Profil.idProfil">
                <a [routerLink]="['/profil', experience_Profil.idProfil?.id]">{{experience_Profil.idProfil?.id}}</a>
            </div>
        </dd>
        <dt><span>Id Experience</span></dt>
        <dd>
            <div *ngIf="experience_Profil.idExperience">
                <a [routerLink]="['/experience', experience_Profil.idExperience?.id]">{{experience_Profil.idExperience?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'experience-profil/'+ experience_Profil.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
