<div>
    <h2>
        <span>Skill Test Responses</span>
        <button class="btn btn-primary float-right jh-create-entity create-skill-test-response" [routerLink]="['/', { outlets: { popup: ['skill-test-response-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Skill Test Response
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="skillTestResponses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Response Skill Test Response</span></th>
            <th><span>Date</span></th>
            <th><span>Skill Test</span></th>
            <th><span>Candidat</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let skillTestResponse of skillTestResponses ;trackBy: trackId">
                <td><a [routerLink]="['../skill-test-response', skillTestResponse.id ]">{{skillTestResponse.id}}</a></td>
                <td>{{skillTestResponse.responseSkillTestResponse}}</td>
                <td>{{skillTestResponse.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="skillTestResponse.skillTest">
                        <a [routerLink]="['../skill-test', skillTestResponse.skillTest?.id ]" >{{skillTestResponse.skillTest?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="skillTestResponse.candidat">
                        <a [routerLink]="['../candidat', skillTestResponse.candidat?.id ]" >{{skillTestResponse.candidat?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../skill-test-response', skillTestResponse.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'skill-test-response/'+ skillTestResponse.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'skill-test-response/'+ skillTestResponse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
